.box{

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.container{
  border:1px solid black;
  border-radius: 4px;
  width:250px;
  margin:20px;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.27);
  
}
.container img{
  min-width: 250px;
  max-width: 250px;
  min-height: 300px;
  max-height: 300px;
}